.area-style {
  background-color: #fff;
  border: 2px dashed #d9eef2;
}
.container {
  height: 100%;
  padding: 20px 30px;
  background-color: #d9eef2;
  color: #143352;
  font-size: 14px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
