.area-style {
  background-color: #fff;
  border: 2px dashed #d9eef2;
}
.article {
  background-color: #fff;
  border: 2px dashed #d9eef2;
  padding: 15px 15px 5px;
  margin-bottom: 20px;
  cursor: pointer;
}
.article .footer {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #327fcd;
}
.article .footer .opt {
  margin-left: 10px;
}
.article .footer .opt.liked .number {
  color: #eb2f96;
}
.article .footer .opt :global(.anticon) {
  margin-right: 3px;
}
