.area-style {
  background-color: #fff;
  border: 2px dashed #d9eef2;
}
.container {
  padding: 30px 50px;
}
.container .layout {
  background-color: transparent;
}
.container .layout .content {
  background-color: #d9eef2;
}
