@import "../../less/variables.less";

.header {
  height: @nav-height;
  line-height: @nav-height;
  background-color: @nav-bar-background-color;
  color: @nav-bar-color;

  .logo {
    width: 120px;
    float: left;
  }

  :global {
    .ant-menu.ant-menu-root {
      line-height: @nav-height;
      background-color: transparent;

      .ant-menu-item {
        font-weight: bold;
        color: lighten(@nav-bar-color, 30%);

        &:hover {
          color: @nav-bar-color;
        }
      }

      .ant-menu-item-selected {
        background-color: transparent;
        color: @nav-bar-color;
      }
    }
  }
}