.area-style {
  background-color: #fff;
  border: 2px dashed #d9eef2;
}
.header {
  display: flex;
  height: 46px;
  line-height: 46px;
  background-color: #143352;
  color: #fff;
}
.header .logo {
  margin-right: 20px;
  float: left;
  text-shadow: 0 0 20px #fefcc9, 10px -10px 30px #feec85, -20px -20px 40px #ffae34, 20px -40px 50px #ec760c, -20px -60px 60px #cd4606, 0 -80px 70px #973716, 10px -90px 80px #451b0e;
  color: white;
  font-size: 26px;
}
.header .rightNav {
  cursor: pointer;
}
.header .rightNav .login:after {
  content: "\B7";
  margin: 0 .4rem;
  font-weight: bold;
}
.header .rightNav :global(.ant-divider) {
  margin: 0 16px;
}
.header :global .ant-menu.ant-menu-root {
  flex-grow: 1;
  line-height: 46px;
  background-color: transparent;
}
.header :global .ant-menu.ant-menu-root .ant-menu-item {
  font-weight: bold;
  color: rgba(255, 255, 255, 0.6);
}
.header :global .ant-menu.ant-menu-root .ant-menu-item:hover {
  color: #fff;
}
.header :global .ant-menu.ant-menu-root .ant-menu-item-selected {
  background-color: transparent;
  color: #fff;
}
.header :global .ant-avatar {
  color: #f56a00;
  background-color: #fde3cf;
}
