.header {
  height: 46px;
  line-height: 46px;
  background-color: #143352;
}
.header .logo {
  width: 120px;
  float: left;
  color: #fff;
}
.header :global .ant-menu.ant-menu-root {
  line-height: 46px;
  background-color: transparent;
}
.header :global .ant-menu.ant-menu-root .ant-menu-item {
  font-weight: bold;
}
.header :global .ant-menu.ant-menu-root .ant-menu-item-selected {
  background-color: transparent;
}
