.area-style {
  background-color: #fff;
  border: 2px dashed #d9eef2;
}
.area {
  background-color: #fff;
  border-radius: 2px;
  margin-bottom: 10px;
}
.aboutAuthor,
.newestArticle,
.classify,
.archive,
.hotArticle,
.comments {
  background-color: #fff;
  border: 2px dashed #d9eef2;
  margin-bottom: 10px;
}
.container {
  padding: 20px 15px;
  background-color: #d9eef2;
  color: #143352;
  font-size: 14px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);
}
.container .title {
  padding: 5px 10px;
  background-color: #F5FBFF;
}
.container .content {
  padding: 5px 10px;
  background-color: #fff;
}
