.author {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}
.author :global(.ant-avatar) {
  margin-right: 10px;
}
.author .desc .name {
  font-weight: bold;
}
.author .desc .signature {
  font-size: 12px;
}
.achievement {
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
}
.achievement .column {
  text-align: center;
}
.achievement .kind {
  font-size: 12px;
}
.achievement .number {
  font-size: 14px;
  font-weight: bold;
}
